body {
	background-color: #F0F0F0;
	height: 100%;
	margin: 0px;
	padding: 0px;
}

#header {
	float: top;
	position: fixed;
	top: 0px;
	width: 100%;

	z-index: 420;
	background-color: #101010;
}

#header .logo {
	position: absolute;
	display: block;

	left: 50%;
	transform: translate(-50%, 0);
}
#header .logoimg {
	height: 4.5em;
}

#nav {
	display: flex;
	position: absolute;

	padding-top: 5em;
	height: 3em;

	width: 100%;
	max-width: 1024px;

	justify-content: space-evenly;

	left: 50%;
	transform: translate(-50%, 0);
}

#nav a {
	width: 100%;
	display: block;

	color: blue;

	padding-top: 0.7em;
	text-align: center;
	text-decoration: none;
	background-color: #FEF;


	border-color: #505060;
	border-style: solid;
	border-width: 0.15em 0.1em;
}

#nav a:hover {
	background-color: #EDE;
}

#nav a:active {
	background-color: #FDD;
}

#nav .button {
	font-size: 1.5em;
}

#content {
	position: absolute;
	padding-top: 9em;

	height: max;     /* Stretch box to bottom of page */
	min-height: 85%; /* Make sure always covers whole height of screen */

	width: 100%;
	max-width: 1024px;

	background-color: #FDFDFD;
	border-color: #F2F2F2;
	border-style: solid;
	border-width: 0 0.15em;

	left: 50%;
	transform: translate(-50%, 0);
}

#bubble {
	box-sizing: border-box;

	/* Width constraints */
	width: 85%;
	max-width: 100ch;

	margin: 1em 0em 2em 0em;

	/* Center bubble */
	margin-left: 50%;
	transform: translate(-50%, 0);

	padding: 2em;

	background-color: #E73;

	border-color: #202020;
	border-style: solid;
	border-width: 0.15em;
	border-radius: 2em;
}

#bubble .content {
	display: block;
	width: 100%;
	font-size: 14pt;
}

#bubble .center {
	margin-left: 50%;
	transform: translate(-50%, -0.5em);
}

#bubble .content canvas {
	background-color: rgba(255,255,255,255);

	border-color: #202020;
	border-style: solid;
	border-width: 0.15em;
	border-radius: 0.5em;
}

#bubble .content img {
	/*transform: translate(0, 0.5em);*/
}

/* Standardize box sizing */
* { box-sizing: content-box; }
