/* Import Google's Open Sans font */
@import url("https://fonts.googleapis.com/css?family=Open+Sans");

body {
	background-color: #F0F0F0;
	font-family: 'Open Sans';
	height: 100%;
	margin: 0px;
	padding: 0px;
}

H2 {
	padding: 0;
	margin: 0;
}

#header {
	/*float: top;*/
	position: fixed;
	top: 0px;
	width: 100%;
	height: 9em;

	z-index: 420;
	background: #E0E0EF;

	box-shadow: 0px 0px 0.25em 0px #0F0F0F;
}

#header .logo {
	position: absolute;
	display: block;

	left: 50%;
	transform: translate(-50%, 0);
}
#header .logoimg {
	height: 4.5em;
	width: 8em;
}

#nav {
	display: flex;
	position: absolute;

	padding-top: 5em;
	height: 3em;

	width: 100%;
	max-width: 1024px;

	justify-content: space-evenly;

	left: 50%;
	transform: translate(-50%, 0);
}

#nav a {
	width: 100%;
	display: block;

	color: blue;

	padding-top: 0.3em;
	text-align: center;
	text-decoration: none;
	background-color: #FEF;


	border-color: #505060;
	border-style: solid;
	border-width: 0.15em 0.1em;
}

#nav a:hover {
	background-color: #EDE;
}

#nav a:active {
	background-color: #FDD;
}

#nav .button {
	font-size: 1.5em;
}

#nav .button img {
	height: 1em;
	transform: translate(0, 0.1em);
}


#content {
	position: absolute;
	padding-top: 9em;

	height: max;     /* Stretch box to bottom of page */
	min-height: 85%; /* Make sure always covers whole height of screen */

	width: 100%;
	max-width: 1024px;

	background-color: #FDFDFD;
	/*border-color: #9F9F9F;/*#F2F2F2;
	border-style: solid;
	border-width: 0 0.15em;*/

	left: 50%;
	transform: translate(-50%, 0);

	box-shadow: 0em 0.1em 0em 0.1em #E0E0E0;
}

#bubble {
	box-sizing: border-box;

	/* Width constraints */
	width: 85%;
	max-width: 80ch;

	margin: 1em 0em 2em 0em;

	/* Center bubble */
	margin-left: 50%;
	transform: translate(-50%, 0);

	padding: 2em;

	background-color: #FFD5A3;

	border-color: #202020;
	border-style: solid;
	border-width: 0.15em;
	border-radius: 2em;
}

#bubble .content {
	display: block;
	width: 100%;
	font-size: 14pt;
	text-align:center;
}

#bubble .center {
	margin-left: 50%;
	transform: translate(-50%, -0.5em);
}

#bubble .content canvas {
	background-color: rgba(255,255,255,255);

	border-color: #202020;
	border-style: solid;
	border-width: 0.15em;
	border-radius: 0.5em;
}

#spendingChart {
	max-height: 15em;
}

#locationChart {
	max-height: 10em;
}


#bubble .content form {
	display: block;
	text-align: left;
}

form {
	margin-bottom: 2em;
}

#selectRange label {
	margin-right: 2em;
}

#bubble .content a {
	padding: 0.5em 1em;
	text-decoration: none;
	color: #0000FF;

	background: linear-gradient(0deg, #ffd39f 0%, #ffdbae 50%, #ffd39f 100%);

	border-color: #202020;
	border-style: solid;
	border-width: 0.15em;
	border-radius: 2em;
}

#bubble .content a:hover {
	background: none;
}

#bubble .addOrder a {
	display:block;
	border-style: none;
	font-size: 25pt;
	margin: -0.5em;
}

#bubble .content a img {
	height: 1em;
	transform: translate(0, 0.2em);
}

#bubble .addOrder a img {
	transform: translate(0, 0.1em);
	padding-right: 0.25em;
}

#newOrderForm select, #newOrderForm input {
	width: 100%;
}




button {
	padding: 0.5em 1em;
	text-decoration: none;
	color: #0000FF;
	font-size: 14pt;

	background: linear-gradient(0deg, #ffd39f 0%, #ffdbae 50%, #ffd39f 100%);
}

button:hover {
	background: none;
	cursor: pointer;
}

#btnConfirm {
	border-color: #202020;
	border-style: solid;
	border-width: 0.15em;
	border-radius: 2em 0em 0em 2em;
	width: 30%;
}

#btnCancel {
	border-color: #202020;
	border-style: solid;
	border-width: 0.15em;
	border-radius: 0em 2em 2em 0em;
	width: 30%;
}

/* Order Bubbles for review page */
#bubble .content .orderType {
	float: middle;
	transform: translate(0em, -1.2em);
}

#bubble .content .orderSource {
	float: left;
	transform: translate(1em, -1em);
}

#bubble .content .orderDate {
	float: right;
	transform: translate(-1em, -1em);
}

#bubble .content .orderName {
	transform: translate(1em, -0.5em);
	float: left;
}

#bubble .content .orderApp {
	transform: translate(-1em, -0.5em);
	float: right;
}

/* Standardize box sizing */
* { box-sizing: content-box; }
